html, body {
	background-color: white;
	margin-top: 8%;
	margin-left: 6%;
	margin-right: 7%;
}
#header-div {
	height:100%;
	width:99%;
	padding-top:10%;
	padding-bottom:10%;
	border-style: solid;
	border-color: #bfb2ab;
}
.title-text, h1 {
	color: #bfb2ab;
	font-family:Yeseva One, sans-serif;
	font-size:3.3em;
	text-align:center;
	width:100%;
}
.subtext {
	color: #bfb2ab;
	font-family:Open Sans, sans-serif;
	font-size:1.2em;
	text-align:center;
	width:100%;
}

#portfolio {
	padding-top:30%;
	text-align: center;
}
img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#contact {
	height:100%;
	width:99%;
	padding-top:8%;
	padding-bottom:8%;
	margin-bottom: 20%;
	margin-top: 20%;
	border-style: solid;
	border-color: #bfb2ab;
}
p, a {
	color: #bfb2ab;
	font-family:Open Sans, sans-serif;
	font-size:1.5em;
	text-align:center;
	width:100%;
	text-decoration: none;
}
a:hover {
	color: #897f7a;
	text-decoration: none;
}
#foot {
		color: #bfb2ab;
	font-family:Open Sans, sans-serif;
	font-size:1em;
	text-align:center;
	width:100%;
	text-decoration: none;
}
#mariel_link {
	font-size: 1em;
}











